.app-component-container {
  gap: var(--dl-space-space-halfunit);
  position: relative;
  transition: 0.3s;
  align-items: center;
  flex-direction: row;
}

.app-component-image {
  width: 25px;
  height: 25px;
  transform: rotate(45deg);
  background: #000000;
  object-fit: cover;
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-round);
}
.app-component-image:hover {
  transform: rotate(45deg);
}
.app-component-link {
  font-size: 18px;
  font-family: "Space Grotesk";
  font-weight: 600;
}
